/* header */


/* body */
.breadcrumb {
  padding-top: 112px;
}

iframe {
  width: 100%;  
  height: 980px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
iframe.active {
  visibility: visible;
  opacity: 1;
}
.Sec1 {
  height: 200vh;
}
.VideoContainer {
  position: sticky;
  top:0px;
  overflow: hidden;

}

.VideoContainer h2{
  font-size: 310px;
  text-transform: uppercase;  
  color: #000;
  position: absolute;
  top:21%;
  left:45%;
  transform-origin: 30% center;
}

.Sec2 {
  background: linear-gradient(180deg, #164AAD 0%, rgba(144, 206, 240, 0.75) 61.95%, rgba(217, 217, 217, 0.00) 100%);
  opacity: 0.8;
  height: 140vh;
  flex-shrink: 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.Sec2 h2 {
  color: #17407E !important;
  padding-top: 620px;
  opacity: 0;
  transition: 1s;
}
.Sec2 h2.active {
  opacity: 1;
}

.object {
  position: absolute;
  top: 38%;
  left: 46%;
  transform: translate(-50%, -50%);

}
.object .Sec2_circle {
  background: url(/img/sub_Sec2_hat.png) no-repeat;
  width: 159px;
  height: 159px;
}
.object .Sec2_squre {
  background: url(/img/sub_Sec2_ball.png) no-repeat;
  width: 159px;
  height: 159px;
}
.object .Sec2_triangle {
  background: url(/img/sub_Sec2_star.png) no-repeat;
  width: 138px;
  height: 133px;
}


.object .Sec2_circle,.Sec2_squre, .Sec2_triangle {
  width: 155px;
  height: 145px;
  border-radius: 50%;
  position: absolute;
  transition: 1s;
  opacity: 0;
  
}
.Sec2_circle.active,
.Sec2_squre.active,
.Sec2_triangle.active {
  opacity: 1;  
}

.Sec3 {
  overflow: hidden;
}

.Sec3_introtxt {
  padding: 48px 120px 120px;
  opacity: 0;
  transition: 0.5s;
}
.Sec3_introtxt span:first-child {
  font-weight: bold;
}

span.blockspan {
  display: block;
}

.Sec3_title {
  color: var(--Main-Color, #272727);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 57.692% */
}
.Sec3_introtxt .vertical_bar {
  padding:  0px 49px;
}


.Sec3 figure {
  margin: 300px 15px 0px;
}

.bluetitle {
  color: #17407E;
}


.figure_textgroup {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 11px;
}
.figure_textgroup h2 {
padding-bottom: 32px;
}
.figure_textgroup h3 {
  line-height: 60px !important;
}
.figure01_textgroup .subtext {
  padding-top: 150px;
}
.figure02_textgroup .subtext {
  padding-top: 320px;
}
.figure03_textgroup .subtext {
  padding-top: 298px;
}
.figure04_textgroup .subtext {
  padding-top: 160px;
}

.Sec3 .figure01 {
  position: relative;
  padding-left: 200px;
}
.Sec3 figure img{
  padding: 0px 111px;
}
.Sec3 .figure03 img {
  padding: 0px 451px;
}
.Sec3 .figure04 img {
  padding: 0px 451px;
}

.figure01_textgroup {
  margin-left: 968px;
  padding-left: 54px;
}

.Sec3 .figure02_imgs  {
  padding-left: 1250px;
}
.Sec3 .figure02 {
  position: relative;
}
.figure02_textgroup {
  padding-left: 40%;
}
.Sec3 .figure03 {
  position: relative;

}
.figure03_textgroup {
  padding-left: 53%;
}

.figure04 img {
  transform: translateX(331px);
}
.figure04_textgroup {
  padding-left: 18%;
}
.Sec3 .figure04 {
  padding: 0px 335px 305px 299px;
  position: relative;
  margin-left: 50px;
}


[data-aos=fade-right] {
  transform: translate3d(-300px,0,0);
}
[data-aos=fade-left] {
  transform: translate3d(300px,0,0);
}
[data-aos=fade-up] {
  transform: translate3d(0,300px,0);
}
[data-aos=fade-down] {
  transform: translate3d(0,-300px,0);
}

.Sec4 {
  background: #17407E;
  height: 853px;
  overflow: hidden;
  padding: 112px 0px;
}
.Sec4_txtgroup {
  gap:40px;
}
.Sec4_txtgroup span {
  white-space: nowrap;
  padding: 0px 69px;
  font-size: 100px;
  padding: 44px 0px;
}


.Sec4 div:nth-child(odd) {
  margin-left: -1700px;
}
.Sec4 div:nth-child(even) {
  margin-left: 0px;
}

.Sec4 div span:nth-child(odd) {
  color: #fff;
}
.Sec4 div span:nth-child(even) {
  color: #17407E;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

main .btn {
  width: 216px;
  line-height: calc(var(--line_height) * 1.44);  
  text-align: center;
  border-radius: 30px !important;
  display: block;

}

.Sec5 {
  background: url(../img/wave.png) no-repeat;
  height: 2611px;
  margin-top: 287px;
  text-align: center;
  perspective: 200px; /* 더 높은 값으로 설정할 수도 있습니다. */
  overflow: hidden;
  text-align: center;
}


.Sec5txtgroup {
  padding-top: 300px;
  gap: 80px;  
  margin-left: 190px;

}
.Sec5txtgroup a {
color: #fff;

}

.Sec5btn_01 {
  background-color: #F54F4F;
}
.Sec5btn_02 {
  background-color: #F63AEC;
}
.Sec5btn_03 {
  background-color: #36B0EB;
}

.Sec5btn_01:hover {
  background-color: #AF1919;
  color: #fff;

}
.Sec5btn_02:hover {
  background-color: #E623BE;
  color: #fff;

}
.Sec5btn_03:hover {
  background-color: #1A96DB;
  color: #fff;

}

.Sec5 .wrapper h3 {
  color: #fff;
  padding-top: 545px;

}

.Sec5 .cube {
  background: url(../img/sub_sub_ball.png) no-repeat;
  position: relative;
  z-index: 1;
  width: 860px;
  height: 790px;
  top: 140px;
  left: 13%;
  transform-origin: center center;      
}

.Sec5 .cube.cw {
  animation: cwrotate 3s linear infinite   ;
}

.Sec5 .cube.ccw {
  animation: ccwrotate 3s linear infinite   ;
}
.Sec5 .cube.cw2 {
  animation: cwrotate 1.5s linear infinite   ;
}

.Sec5 .cube.ccw2 {
  animation: ccwrotate 1.5s linear infinite   ;
}

@keyframes cwrotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}  
}
@keyframes ccwrotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}  
}

.Sec5 .cube span {
  position: absolute;
  z-index: 2;
}
.Sec5 .cube span a{
  color: #fff;
}
.Sec5 .cube span:first-child {
  top: 50%;
  left: 49%;
}
.Sec5 .cube span:nth-child(2) {
  top: 20%;
  left: 49%;
}
.Sec5 .cube span:last-child {
  top: 70%;
  left: 49%;
}


.fa-solid {
  font-size: calc(var(--font_size) * 5);
  font-weight: bold;
  line-height: calc(var(--line_height) * 3);
  letter-spacing: -3.25px;
  
}



.Sec5arrows {
  position: absolute;
  top:47%;
  left:50%;
  transform: -50%, -50%;
}

.Sec5arrows .rotate_left {
  transform: translateX(-750px);
  color:skyblue !important;
  
}
.Sec5arrows .rotate_right {
  transform: translateX(580px);
  color:skyblue !important;
  
}

.Sec6 {
  text-align: center;
  height: 150vh;
  padding: 120px 40px;
}

.Sec6_text {
color: var(--Main-Color, #272727);
text-align: center;
font-family: NanumGothic;
font-size: 56px;
font-style: normal;
font-weight: 600;
line-height: 60px; /* 107.143% */
}

.Sec6 h2 {
  color: #17407E !important;
}

.Sec7_options li {
  width: 371.096px;
  height: 371.096px;
  border-radius: 371.096px;
  position: relative;
  text-align: center;
}

.Sec7_options li:first-child {
  background: #FA944B;
}
.Sec7_options li:nth-child(2) {
  background: #1CB7E5;
}
.Sec7_options li:last-child {
  background: #E31A50;
}

.Sec7_options li h4 a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.Sec9 {
  padding-bottom: 558px;
  text-align: center;
  overflow: hidden;
}

.Cavibg {
  height: 485px;
  background-color: #17407E;
  padding: 110px 434px;
}
.Cavibg .fa-arrow-down {
  padding-top: 14px;
}

.Cavibg * {
  color: #fff;
}

.Guide-Rules {
  border: 1px solid #272727;
  background: #FFF;
  margin-top: 238px;
  overflow-x: hidden;
}

.Guide-Rules li a {
  background: conic-gradient(from 90deg at 48.31% 50%, #2B6DAA 20.625000447034836deg, #4B3CFB 166.8749964237213deg, #4B3CFB 277.4999928474426deg);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
white-space: nowrap;
}