/* header */


/* body */
.breadcrumb {
  padding-top: 112px;
}

iframe {
  width: 100%;  
  height: 980px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
iframe.active {
  visibility: visible;
  opacity: 1;
}
.Sec1 {
  height: 200vh;
}
.VideoContainer {
  position: sticky;
  top:0px;
  overflow: hidden;

}

.VideoContainer h2{
  font-size: 310px;
  text-transform: uppercase;  
  color: #000;
  position: absolute;
  top:21%;
  left:45%;
  transform-origin: 30% center;
}

.Sec2 {
  background: linear-gradient(180deg, #164AAD 0%, rgba(144, 206, 240, 0.75) 61.95%, rgba(217, 217, 217, 0.00) 100%);
  opacity: 0.8;
  height: 140vh;
  flex-shrink: 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.Sec2 h2 {
  color: #17407E !important;
  padding-top: 620px;
  opacity: 0;
  transition: 1s;
}
.Sec2 h2.active {
  opacity: 1;
}

.object {
  position: absolute;
  top: 28%;
  left: 46%;
  transform: translate(-50%, -50%);

}
.object .Sec2_circle {
  background: url(/img/sub_Sec2_hat.png) no-repeat;
  width: 159px;
  height: 159px;
}
.object .Sec2_squre {
  background: url(/img/sub_Sec2_ball.png) no-repeat;
  width: 159px;
  height: 159px;
}
.object .Sec2_triangle {
  background: url(/img/sub_Sec2_star.png) no-repeat;
  width: 138px;
  height: 133px;
}


.object .Sec2_circle,.Sec2_squre, .Sec2_triangle {
  width: 155px;
  height: 145px;
  border-radius: 50%;
  position: absolute;
  transition: 1s;
  opacity: 0;
  
}
.Sec2_circle.active,
.Sec2_squre.active,
.Sec2_triangle.active {
  opacity: 1;  
}


.Sec3_introtxt {
  padding: 48px 120px 120px;
}
.Sec3_introtxt span:first-child {
  font-weight: bold;
}


.Sec3_title {
  color: var(--Main-Color, #272727);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 57.692% */
}
.Sec3_introtxt .vertical_bar {
  padding:  0px 49px;
}


.Sec3 figure {
  margin: 300px 15px;
}

.bluetitle {
  color: #17407E;
}


.figure_textgroup {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 11px;
}
.figure_textgroup h1 {
padding-bottom: 32px;
}
.figure_textgroup > p span {
display: block;
}
.figure_textgroup h2 {
  line-height: 60px !important;
}
.figure_textgroup .subtext {
  padding-top: 150px;
}
.figure02_textgroup .subtext {
  padding-top: 55px;
}

.Sec3 .figure01 {
  position: relative;
  padding-left: 200px;
}
.Sec3 figure img{
  padding: 0px 111px;
}

.figure01_textgroup {
  margin-left: 968px;
  padding-left: 54px;
}
.Sec3 .figure02 img{
  padding: 0px 870px;
}
.figure02 img {
  transform: scale(-20px);
}
.Sec3 .figure02 {
  position: relative;
  margin-left: 280px;
}
.figure02_textgroup {
  padding-left: 23%;
}
.Sec3 .figure03 {
  position: relative;
  margin-left: 15%;

}
.figure03_textgroup {
  padding-left: 39%;
}

.figure04 img {
  transform: translateX(481px);
}
.figure04_textgroup {
  padding-left: 12%;
}
.Sec3 .figure04 {
  padding: 0px 335px 305px 299px;
  position: relative;
  margin-left: 50px;
}

.Sec4 {
  background: #17407E;
  width: 1920px;
  height: 853px;
  text-align: center;
}

.Sec4 div {  
  padding: 112px 0 117px;  
}

.Sec4 div span {
text-align: center;
font-size: 100px;
}

.Sec4 div p {
  padding-bottom: 100px;
}
.Sec4 div span:nth-child(odd) {
  color: #fff;
}
.Sec4 div span:nth-child(even) {
  color: #000;
}

.Sec5 {
  background: url(../img/wave.png) no-repeat;
  height: 2611px;
  margin-top: 287px;
  text-align: center;
  perspective: 200px; /* 더 높은 값으로 설정할 수도 있습니다. */
}

.Sec5 .wrapper h3 {
  color: #fff;
  padding-top: 545px;

}

.Sec5 .cube {
  background: url(../img/sub_sub_ball.png) no-repeat;
  position: relative;
  z-index: 1;
  width: 860px;
  height: 790px;
  left: 13%;
  transform-origin: center center;  
  transform-style: preserve-3d;  /* 3d 변환 추가 */
  transform: translateZ(100px);   
  perspective: 1000px;
}




.Sec5 .cube span {
  position: absolute;
  z-index: 2;
}
.Sec5 .cube span a{
  color: #fff;
}
.Sec5 .cube span:first-child {
  top: 50%;
  left: 49%;
}
.Sec5 .cube span:nth-child(2) {
  top: 20%;
  left: 49%;
}
.Sec5 .cube span:last-child {
  top: 70%;
  left: 49%;
}
.Sec6 {
  text-align: center;
}
.Sec6 div h1 {
  color: #17407E;
}

.Sec7_options li {
  width: 371.096px;
  height: 371.096px;
  border-radius: 371.096px;
  position: relative;
  text-align: center;
}

.Sec7_options li:first-child {
  background: #FA944B;
}
.Sec7_options li:nth-child(2) {
  background: #1CB7E5;
}
.Sec7_options li:last-child {
  background: #E31A50;
}

.Sec7_options li h4 a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.Sec9 {
  padding-bottom: 558px;
  text-align: center;
}

.Cavibg {
  width: 1916px;
  height: 485px;
  background-color: #17407E;
  padding: 110px 434px;
}
.Cavibg .fa-arrow-down {
  padding-top: 14px;
}

.Cavibg * {
  color: #fff;
}

.Guide-Rules {
  border: 1px solid #272727;
  background: #FFF;
  margin-top: 238px;
  overflow-x: hidden;
}

.Guide-Rules li a {
  background: conic-gradient(from 90deg at 48.31% 50%, #2B6DAA 20.625000447034836deg, #4B3CFB 166.8749964237213deg, #4B3CFB 277.4999928474426deg);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
white-space: nowrap;
}