/* header */


/* body */
.breadcrumb {
  padding-top: 92px;
}

iframe {
  width: 100%;  
  height: 980px;
}

.Sec1 {
  height: 200vh;
}
.VideoContainer {
  position: sticky;
  top:0;
  overflow: hidden;

}

.VideoContainer h2{
  font-size: 810%;
  text-transform: uppercase;  
  color: #fff;
  position: absolute;
  top:30%;
  left:70%;
}

.Sec2 {
  background: var(--gr, linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 75, 172, 0.70) 100%));  
  opacity: 0.8;
  width: 1920px;
  height: 857px;
  flex-shrink: 0;
  text-align: center;
  vertical-align: middle;
}

.Sec2 h2 {
  color: #fff !important;
  padding-top: 228px;
}

.Sec3_introtxt {
  padding: 48px 766px 94px 32px;
}

.Sec3_title {
  color: #000 !important;
  font-weight: bold;
}

.bluetitle {
  color: #17407E;
}

.Sec3_introtxt .vertical_bar {
  padding:  0px 49px;
}
.Sec3 .figure01 {
  padding: 217px 446px 300px 299px;
  position: relative;
}
.Sec3 .figure02 {
  padding: 0px 306px 288px 526px;
  position: relative;
}
.Sec3 .figure03 {
  padding: 0px 396px 304px 417px;
  position: relative;
}
.Sec3 .figure04 {
  padding: 0px 335px 305px 299px;
  position: relative;
}

.figure01_textgroup {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(950px, 690px);
}
.figure01_textgroup h1 {
margin-top: -36%;
padding-bottom: 32px;
}
.figure01_textgroup h2 {
padding-bottom: 150px;
}
.figure02_textgroup {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(1190px, 0px);
}

.Sec4 {
  background: #17407E;
  width: 1920px;
  height: 853px;
  text-align: center;
}

.Sec4 div {  
  padding: 112px 0 117px;  
}

.Sec4 div span {
text-align: center;
font-size: 100px;
}

.Sec4 div p {
  padding-bottom: 100px;
}
.Sec4 div span:nth-child(odd) {
  color: #fff;
}
.Sec4 div span:nth-child(even) {
  color: #000;
}

.Sec5 {
  background-image: url(../img/wave.png);
  height: 2611px;
}

.Sec6 {
  text-align: center;
}
.Sec6 div h1 {
  color: #17407E;
}

.Sec7_options li {
  width: 371.096px;
  height: 371.096px;
  border-radius: 371.096px;
  position: relative;
  text-align: center;
}

.Sec7_options li:first-child {
  background: #FA944B;
}
.Sec7_options li:nth-child(2) {
  background: #1CB7E5;
}
.Sec7_options li:last-child {
  background: #E31A50;
}

.Sec7_options li h4 a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.Sec9 {
  padding-bottom: 558px;
  text-align: center;
}

.Cavibg {
  width: 1916px;
  height: 485px;
  background-color: #17407E;
  padding: 110px 434px;
}
.Cavibg .fa-arrow-down {
  padding-top: 14px;
}

.Cavibg * {
  color: #fff;
}

.Guide-Rules {
  border: 1px solid #272727;
  background: #FFF;
  margin-top: 238px;
}

.Guide-Rules li a {
  background: conic-gradient(from 90deg at 48.31% 50%, #2B6DAA 20.625000447034836deg, #4B3CFB 166.8749964237213deg, #4B3CFB 277.4999928474426deg);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
white-space: nowrap;
}