.top_background {
  background-color: aquamarine;
  height: 150px;
}

.price_wrapper {
  width: 1000px;
  margin: 0 auto;
}

aside {
  width: 300px;
}

/* action-bar*/

.action-bar {
  margin: 30px 0;
}

/* breadcrumb */

.breadcrumb {
  font-size: 14px;
  padding: auto 0;
}
.breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb li {
  display: inline;
  margin-right: 5px;
}

.breadcrumb li:last-child {
  font-weight: bold;
  color: #333; /* 현재페이지 스타일 */
}

.breadcrumb li:not(:last-child):after {
  content: ">";
  margin-left: 5px;
  color: #0069ff;
}

#copyButton {
  width: 40px;
  height: 40px;
  background-image: url(/Sub/my/image/share.png);
  text-indent: -9999px;
  object-fit: cover;
  background-size: 100% 100%;
  margin-right: 5px;
  opacity: 0.2;
}

#copyButton:hover {
  opacity: 0.5;
}

#printButton {
  width: 40px;
  height: 40px;
  background-image: url(/Sub/my/image/print.png);
  text-indent: -9999px;
  background-size: 100% 100%;
  margin-right: 10px;
  opacity: 0.2;
}

#printButton:hover {
  opacity: 0.5;
}

/* end-action-bar */

.price_sub_title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #cccccc;
}

.price_title {
  padding: 20px 0 60px 0;
}

.price_title h1 {
  font-size: 40px;
  line-height: 0;
}

.samll_tt {
  font-weight: 500;
}

/* table속성 */

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
}

.table h2 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

table .container {
  overflow-x: auto; /* 가로 스크롤 생성 */
}

table td {
  text-align: center;
  border: 1px solid rgb(189, 189, 189);
  padding: 8px;
  vertical-align: middle;
}

table th {
  background: var(--main_color);
  color: #fff;
  height: 40px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255); /* 테두리 스타일 설정 */
  padding: 8px; /* 셀 내부 여백 설정 */
  vertical-align: middle;
}
table tr {
  text-align: center;
  border: 1px solid rgb(189, 189, 189);
}

td:first-child {
  border-left: none; /* 첫 번째 열의 왼쪽 선 제거 */
}

/* 마지막 열에만 세로선 추가 */
td:last-child {
  border-right: none; /* 마지막 열의 오른쪽 선 제거 */
}

.price_container {
  overflow-y: scroll;
  max-height: 800px; /* 스크롤을 보이게 하기 위한 최대 높이 설정 */
}

.content {
  padding: 20px;
}

/* tab기능 구현 */

.tab-item {
  width: 120px;
  cursor: pointer;
  margin-top: 160px;
}

.tab-item .tab-button:hover {
  background-color: #0069ff;
  color: #fff;
}

.tab-item .tab-button {
  background-color: #fff;
  text-align: center;
  height: 40px;
  border-radius: 20px;
  color: black;
  font-family: "Gmarket Sans";
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #c4c4c4;
}

.tab-button {
  width: 100%;
  align-items: center; /* 요소들을 수직 가운데로 정렬 */
  padding: 10px;
  cursor: pointer;
  vertical-align: middle;
}

/* 보여줄 .table의 클래스를 토글하여 슬라이드 애니메이션 적용 */
.price_container {
  width: 500px;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.tab-item {
  padding: 8px;
}

.fixed-tab {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

/* part1 */
.part1 table {
  height: 150px;
}
/* part2 */
.part2 table {
  height: 500px;
}
/* part3 */
.part3 table {
  height: 800px;
}
/* 반응형 참고 */

/* @media only screen and (max-width:320px) {
  table thead tr {display:flex; flex-wrap:wrap;}
  table thead tr th {display:flex; flex:1; justify-content:center;}
  table thead tr th:nth-child(1) {flex:0 1 100%;}
  table tbody tr {display:flex; flex-wrap:wrap;}
  table tbody tr td {display:flex; flex:1; justify-content:center;}
  table tbody tr td:nth-child(1) {flex:0 1 100%;}
} */
