@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
@import url(../../../css/reset.css);
h1,h2,h3,h4,h5,h6 {
  font-family: var(--Gmaket_Sans);
}
body,p,span{
  font-family: var(--Score_dream);
}


.video_screen{
  height: 300px;
  /* overflow: hidden; */
  background: linear-gradient(180deg, #A4B9D0 0%, #D9B59A 100%);
  /* background: url(../img/backBig.jpg)no-repeat; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  }



/* 브래드크럼 */


.action-bar {
  margin: 30px 0;
}

/* breadcrumb */

.breadcrumb {
  font-size: 14px;
  padding: auto 0;
}
.breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb li {
  display: inline;
  margin-right: 5px;
}

.breadcrumb li:last-child {
  font-weight: bold;
  color: #333; /* 현재페이지 스타일 */
}

.breadcrumb li:not(:last-child):after {
  content: "";
  margin-left: 5px;
  color: #0069ff;
}

#copyButton {
  width: 40px;
  height: 40px;
  background-image: url(/Sub/my/image/share.png);
  text-indent: -9999px;
  object-fit: cover;
  background-size: 100% 100%;
  margin-right: 5px;
  opacity: 0.2;
}

#copyButton:hover {
  opacity: 0.5;
}

#printButton {
  width: 40px;
  height: 40px;
  background-image: url(/Sub/my/image/print.png);
  text-indent: -9999px;
  background-size: 100% 100%;
  margin-right: 10px;
  opacity: 0.2;
}

#printButton:hover {
  opacity: 0.5;
}


.free p{
  color: var(--light_g4);
}
.free h2{
  color: var(--light_g6);
}
.tab {
    position: relative; 
    z-index:1;
    width: 100%;
    height: calc(var(--padding)*2);
  }
  .tab_nav{
    margin: 0 auto;
    border: var(--sub_color3) 1px solid;
    border-radius: 15px;
    width: 1200px;
    height: 60px;
    margin-bottom: calc(var(--padding)*3);
  }
  .tab_nav li {
    width: 16%;
  }
  .tab_nav li a.active{
    color: var(--white);
  }
  .tab_nav li a{ 
    line-height: calc(var(--padding)*2);
    color: var(--sub_color3);
    display: block;
    text-align: center;
  }
  /* .tab_nav li[class^="tab"]:before{
    background: url(../img/glass.png)no-repeat;
    content: '';
    position: absolute;
    width: 650px;
    height: 340px;
    opacity: .2;
    z-index: -1;
    left: -30px;
  } */
  .tab_nav li.active{
    color: var(--white);
  }
  .color{
    width: 16%;
    border-radius: 15px;
    top:0;
    left:0;
    bottom:0;
    background:var(--main_color);
    transition:0.4s cubic-bezier(0.65, 0, 0.35, 1);
  }

.convenient .text_list{
  width: 100%;
}
.convenient .fl{
  gap: 0 30px;
}
.convenient .text_list p{
  padding-bottom: var(--padding);
}
.convenient li{
  display: none;
}
.convenient li:active{
  color:var(--white);
}
.convenient li:first-child{
  display: block;
}
.convenient button{
  border-radius: 15px;
  background:var(--main_color);
  margin: 0 auto; 
}
.convenient button a{
  color: var(--white);
  font-size: var(--font_size);
  font-weight: bold;
  line-height: var(--line_height); 
  padding: 16px 70px;
  display: block;
  white-space: nowrap; 
}


  /* 4이미지 */
  .service .title{
    text-align: center;
  }
  .service .title p{
    color: var(--light_g4);
  }
  .service .title h2{
    color: var(--light_g6);
  }
  .service h3{
  font-size: calc(var(--font_size)*1.25);
}

.service .list{
  gap: 20px;
}
.service .list .text h3,
.service .list .text p{
  color: var(--white);
}
.service .list > div{
  height: 480px;
  flex: 1;
  position: relative;
  transition: .7s;
}
.service .list > div:hover{
  flex: 3;
} 

.service .list > div:after{
  content: '';
  background: none;
  position: absolute;
  top:0; left:0px; right:0; bottom:0;
}
.service .list > div:not(:hover):after{
  background: rgba(0, 0, 0, .5);
}
.service .list > div a,
.service .list img{
  display: block;
  width: 100%;
  height: 100%;
}
.service .list img{
  object-fit:cover;
}
.service .list .text{
  position: absolute;
  bottom: -50px;
  left: 20px;
  right: 0;
}

.service .list > div:hover .text{
  transform: translateY(-80px);
}

.service .list .text h3{
  transform: translateY(-10px);
  padding-bottom: 30px;
}
/* .service .list .text p{
  padding-top: 10px;
} */
@media screen and (max-width: 1320px) {
  .tab_nav{width: 100%;}
}
@media screen and (max-width: 1000px) {
  .convenient .fl{flex-direction: column;}
}
@media screen and (max-width: 768px) {
  .container{width: 90%;}
  .convenient .img_list{
    width: 80%;
    margin: 0 auto;
    padding-bottom: calc(var(--padding)*2);
  }
  .tab li a{white-space: nowrap;}
}